#bobby {
    height: 50%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container {
    color: white;
    overflow-y: hidden;
    background-color: #00be92;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .container {
    width: 500px;
    border: 5px;
    border-radius: .5em;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    align-items: center;
  } */
  
  .column {
    flex-direction: column;
    height: 400px;
  }
  
  .item {
    width: 70%;
    height: fit-content;
  }


  .barcode-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 55vh;
    flex-direction: column;
      text-align: center;
}