#body-kid-page {
    color: white;
    overflow-y: hidden;
    background-color: #00be92;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-img {
    height: 10vh;
}

#remain-cash-and-options-kid-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#kid-page-outer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    height: 100vh;
}

#last-activity-span {
    color: #b1beb1;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.option-button {
    background-color: #00be92;
    border-color: white;
    margin-bottom: 2vh;
    color: white;
    font-weight: bold;
    padding: 1vh 3vh;
    width: 30vh;
    border-radius: 20px;
    align-self: center;
}

.selected-button {
    border-color: #00be92;
    background-color: white;
    margin-bottom: 2vh;
    color: #00be92;
    font-weight: bold;
    padding: 1vh 3vh;
    width: 30vh;
    border-radius: 20px;
    align-self: center;
}

#remain-cash-kid-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

#cash-kid-page {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#amount-kid-page {
    font-size: 3em;
    font-weight: bold;
}

.activity {
    display: flex;
    flex-direction: column;
    border-bottom: grey 2px solid;
    color: black;
    width: 80%;
    margin-bottom: 2vh;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cost {
    color: #00be92;
    font-weight: bold;
    font-size: 1em;
}

.product-name {
    font-size: 1em;
    font-weight: bold;
}

.more-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1vh;
}