.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

.chat-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    border: solid lightgrey 3px;
    border-radius: 3px;
}

.you-payed {
    margin: 0.7vh;
    border-radius: 5px;
    height: 8%;
    width: 45%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.right {
    text-align: right;
}

.font-size-2vh {
    font-size: 2vh;
}

.date-separator {
    align-self: center;
    margin: 0.7vh;
}

.asked-you {
    margin: 0.7vh;
    border-radius: 5px;
    height: 8%;
    width: 45%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.asked-you-with-pay-option {
    margin: 0.7vh;
    border: solid lightgrey 3px;
    border-radius: 5px;
    height: 20%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.asked-you-inner {
    border-radius: 5px;
    background-color: #ededed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.tap-to-pay {
    color: #00be92;
    padding: 2vh;
    text-align: center;
    font-weight: bold;
}

.rtl {
    direction: rtl;
}

.pay-or-ask {
    width: 100%;
    height: 4vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pay-or-ask-button {
    width: 45%;
    background-color: #00be92;
    border-radius: 10px;
    font-size: 2vh;
    color: white;
}

.chat-input {
    width: 100%;
    direction: rtl;
    border: solid lightgrey 3px;
    border-radius: 50px;
    height: 6vh;
    font-size: 3vh;
    margin-top: 2vh;
    display: flex;
    align-self: center;
    justify-content: center;
}

.send-icon {
    position: relative;
    bottom: 4.7vh;
    left: 2vh;
}

.bottom-interface {
    width: 100%;
    display: flex;
    background-color: #e7e7e7;
    flex-direction: column;
    align-items: center;
}

.ask-outer {
    margin: -5vh -25px 25px;
    padding: 10px 40px 0px;
    color: #00be92;
    text-align: center;
}

.ask-h2 {
    color: #00be92;
}

.for-span {
    color: black;
    font-size: 3vh;
}

.what-is-amount-span {
    color: black;
    font-size: 3vh;
}

.amount-input {
    border: 5px solid #00be92;
    border-radius: 19px;
    height: 7vh;
    width: 8vh;
    margin-top: 27px;
}

.details-span {
    color: black;
    direction: rtl;
    font-size: 3vh;
}

.details-input {
    border: 5px solid #00be92;
    height: 10vh;
    width: 30vh;
    border-radius: 19px;
}

.send-button-outer {
    display: flex;
    justify-content: center;
}

.send-button {
    display: block;
    width: 15vh;
    height: 8vh;
}