.zubi-kidAlergic{
    margin: -5vh -25px 25px;
    padding: 10px 40px 0px;
    color: #00be92;
    text-align: center;
}

.hara-kidAlergic{
    color: #00be92
}

.category-in-my-ass-kidAlergic{
    color: black; font-size: 3vh;
}

.cus-emek-kidAlergic{
    display: flex; justify-content: center;
}

.leshanot-kidAlergic{
    display: block; width: 15vh;
    height: 8vh;
}

.tamut-kidAlergic{
    color: black; font-size: 3vh;
}
.body-kidAlergic {
    color: white;
    overflow-y: hidden;
    background-color: #00be92;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-img-kidAlergic {
    height: 10vh;
}

.ingredientsTitleText-kidAlergic{
    font-weight: bold;
}

.ingredientsText-kidAlergic{
    text-align: center;
}

.remain-cash-and-options-kidAlergic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.diet-span-kidAlergic {
    color: black;
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: flex-end;
}

.remain-cash-kidAlergic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

.cash-kidAlergic {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.g-kidAlergic{
    border-radius: 200px;
    width: 100px;
    height: 95px;
}

.titleText-kidAlergic {
    font-size: 2em;
    font-weight: bold;
}

.child-name-text-kidAlergic{
    font-size: 2em;
    font-family: Alef;
}

.product-kidAlergic {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}


.signup-outer-kidAlergic {
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.fuck-kidAlergic{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.option-button-kidAlergic {
    background-color: white;
    border-color: #00be92;
    margin-bottom: 2vh;
    color: #00be92;
    font-weight: bold;
    padding: 1vh 3vh;
    border-radius: 20px;
    align-self: center;
    margin-left: 1vh;
    width: 16vh;
    border-style: solid;
    flex-direction: row;
}

.upper-btn-kidAlergic{
    width: 300px;
    background-color: white;
    border-bottom: double;
    border-bottom-color: #00be92;
}

.add-button-kidAlergic{
    background-color: #00be92;
    border-color: #00be92;
    margin-bottom: 2vh;
    color: white;
    font-weight: bold;
    padding: 1vh 3vh;
    border-radius: 20px;
    align-self: flex-end;
    /* margin-left: 1vh; */
    width: 16vh;
    border-style: solid;
}


.comment-outer-kidAlergic {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.product-image-kidAlergic {
    height: 15vh;
}

.switch-button-kidAlergic{
    display: flex;
    flex-direction: row;
    font-size: 3em;
    justify-content: space-around;
}

.product-name-kidAlergic {
    font-size: 1em;
    font-weight: bold;
    color: white;
    font-family: alef;
}

.activity-kidAlergic {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2vh;
    justify-content: flex-end;
}


.more-details-kidAlergic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1vh;
}



.modal-wrapper-kidAlergic {
    display: none;
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 9999;
    max-height: 887px;
    min-height: 887px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    background-image: -o-linear-gradient(45deg, hsla(0, 0%, 100%, 0.8), #fff);
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, 0.8), #fff);
}

.close-modal-button-separate-kidAlergic {
    position: absolute;
    left: auto;
    top: 20px;
    right: 20px;
    bottom: auto;
    display: none;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-image: url('x-close.png');
    background-position: 80% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    cursor: pointer;
}


.modal-detail-kidAlergic{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    direction: rtl;
}


.register-input-kidAlergic {
    border: none;
    width: fit-content;
    border-bottom: 2px #00be92 solid;
    background-color: transparent;
}
.modal-inner-kidAlergic {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    overflow: hidden;
    /*max-width: 400px;*/
    margin-right: auto;
    margin-left: auto;
    padding: 68px 25px 30px;
    float: none;
    clear: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 3px;
    background-color: transparent;
    text-align: center;
}

.delete-chile-button-kidAlergic{
    border-bottom-color: #F44336;
    background: #ff000033
}